#bsswrapper{
    padding-top: 1em;
}

#inputbsswrapper{
    padding: 1em 1.5em;
}

#inputbsswrapper input{
    margin-bottom: 15px;
}


#namabayar .collapsible-header strong {
    margin-right: 5px;
}

#bayarsayawrapper i.deletebtn{
    position: absolute;
    right: 1px;
}