#homewrapper{
    padding: 1rem 2rem;
    min-height: 100vh;
    background-color: #efefef;
}

 .feature .card-image{
    overflow: hidden;
    height: inherit;
}

.feature-icon{
    font-size: 5em;
}
