/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 80vw; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0; /* Stay at the top */
    left: -100vw;
    background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.fill{
    width: 100%;
}

.hidden{
    display: none;
}

.profalt {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    background: #186608;
}

.nomargin{
    margin: 0px;
}

.nopad{
    padding: 0px;
}

.sidenav a {
    color: rgba(0,0,0,0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}


.sidenav a i {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 32px 0 0;
    width: 24px;
    color: rgba(0,0,0,0.54);
}


.sidenav-backgroud{
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.user-view{
    position: relative;
    padding: 32px 32px 0;
    margin-bottom: 8px;
    min-height: 20vh;
}

.sidenav .user-view .circle {
    height: 64px;
    width: 64px;
}

.user-view a{
    position: relative;
    padding: 0px 0px;
    margin-bottom: 2px;
}

/* The navigation menu links */


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.sidenavopen{
    left: 0;
}

.sidebar-overlay {
    background: rgba(54, 25, 25, .5);
    height: 100%;
    left: -100%;
    position: fixed;
    width: 100%;
    z-index: 999;
  }

  .sidebaroverlayopen  {
    background: rgba(54, 25, 25, .5);
    height: 100%;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
  }

  .google-button {
    height: 40px;
    border-width: 0;
    background: white;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    padding: 0;
    line-height: unset;
  }

  .google-button:focus,
  .google-button:hover {
      box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
    }
    
    .google-button:active {
      background-color: #e5e5e5;
      box-shadow: none;
      transition-duration: 10ms;
    }
      
  .google-button__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0 8px 8px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
  }
  
  .google-button__icon--plus {
    width: 27px;
  }
  
  .google-button__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto',arial,sans-serif;
  }
  